.DailyForecast {
  background: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(239, 240, 247, 0.3);
  border-left: 1px solid rgba(239, 240, 247, 0.3);
  border-right: 1px solid rgba(200, 202, 225, 0.3);
  border-bottom: 1px solid rgba(200, 202, 225, 0.3);
  box-shadow: rgba(0, 0, 0, 0.15) 1.25px 1.25px 1.6px;
  border-radius: 12px;
}

.DailyForecast .row {
  align-items: center;
}

.DailyForecast img {
  padding-left: 7px;
}

.DailyForecast .DailyForecast-specs {
  align-items: center;
}
